.error {
    margin-top: -17px;
    color: red;
    font-size: 12px;
    height: 16px;
}
.Msg{
    position: absolute;
    right: 30px;
    width: 250px;
    border: 1px solid #928F8F;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(107, 104, 104, 0.6);
    z-index: 9999;
}
.Msg{
    opacity: 0;
    bottom: 0px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.Msg.show{
    opacity: 1;
    bottom: 100px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.Msg span#msg-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: x-large;
    color: white;
}
.Msg .title{
    display: block;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    text-align: -webkit-center;
}
.Msg .title{background: #4D7496;}
.Msg .title.err{background: #895534;}
.Msg .text{
    display: block;
    background: #F9FAFC;
    color: #002093;
    border-radius: 0px 0px 12px 12px;
    padding: 10px;
}
img.login-in {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1F2327;
}

#overlayWait{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    z-index: 9999;
}
#overlayWait:before {
    content: "";
    background: url("../pic/loading.gif")no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}
#overlayWait:after {
    content: "Пожалуста подождите.";
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -20px 0 0 -40px;
    font-size: 18px;
}
#overWait{

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    z-index: 9999;
}
#overWait:before {
    content: "";
    background: url("../pic/loading.gif")no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}
#overWait:after {
    content: "Пожалуста подождите. Идет Загрузка";
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -40px 0 0 -40px;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 0px 0px 15px #F1F105;
}