@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fmjhd9');
	src:url('../fonts/icomoon.eot?#iefixfmjhd9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?fmjhd9') format('woff'),
		url('../fonts/icomoon.ttf?fmjhd9') format('truetype'),
		url('../fonts/icomoon.svg?fmjhd9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
	content: "\e725";
}

.icon-classic-computer:before {
	content: "\e726";
}

.icon-controller-fast-backward:before {
	content: "\e727";
}

.icon-creative-commons-attribution:before {
	content: "\e728";
}

.icon-creative-commons-noderivs:before {
	content: "\e729";
}

.icon-creative-commons-noncommercial-eu:before {
	content: "\e72a";
}

.icon-creative-commons-noncommercial-us:before {
	content: "\e72b";
}

.icon-creative-commons-public-domain:before {
	content: "\e72c";
}

.icon-creative-commons-remix:before {
	content: "\e72d";
}

.icon-creative-commons-share:before {
	content: "\e72e";
}

.icon-creative-commons-sharealike:before {
	content: "\e72f";
}

.icon-creative-commons:before {
	content: "\e730";
}

.icon-document-landscape:before {
	content: "\e731";
}

.icon-remove-user:before {
	content: "\e732";
}

.icon-warning:before {
	content: "\e733";
}

.icon-arrow-bold-down:before {
	content: "\e734";
}

.icon-arrow-bold-left:before {
	content: "\e735";
}

.icon-arrow-bold-right:before {
	content: "\e736";
}

.icon-arrow-bold-up:before {
	content: "\e737";
}

.icon-arrow-down:before {
	content: "\e738";
}

.icon-arrow-left:before {
	content: "\e739";
}

.icon-arrow-long-down:before {
	content: "\e73a";
}

.icon-arrow-long-left:before {
	content: "\e73b";
}

.icon-arrow-long-right:before {
	content: "\e73c";
}

.icon-arrow-long-up:before {
	content: "\e73d";
}

.icon-arrow-right:before {
	content: "\e73e";
}

.icon-arrow-up:before {
	content: "\e73f";
}

.icon-arrow-with-circle-down:before {
	content: "\e740";
}

.icon-arrow-with-circle-left:before {
	content: "\e741";
}

.icon-arrow-with-circle-right:before {
	content: "\e742";
}

.icon-arrow-with-circle-up:before {
	content: "\e743";
}

.icon-bookmark:before {
	content: "\e744";
}

.icon-bookmarks:before {
	content: "\e745";
}

.icon-chevron-down:before {
	content: "\e746";
}

.icon-chevron-left:before {
	content: "\e747";
}

.icon-chevron-right:before {
	content: "\e748";
}

.icon-chevron-small-down:before {
	content: "\e749";
}

.icon-chevron-small-left:before {
	content: "\e74a";
}

.icon-chevron-small-right:before {
	content: "\e74b";
}

.icon-chevron-small-up:before {
	content: "\e74c";
}

.icon-chevron-thin-down:before {
	content: "\e74d";
}

.icon-chevron-thin-left:before {
	content: "\e74e";
}

.icon-chevron-thin-right:before {
	content: "\e74f";
}

.icon-chevron-thin-up:before {
	content: "\e750";
}

.icon-chevron-up:before {
	content: "\e751";
}

.icon-chevron-with-circle-down:before {
	content: "\e752";
}

.icon-chevron-with-circle-left:before {
	content: "\e753";
}

.icon-chevron-with-circle-right:before {
	content: "\e754";
}

.icon-chevron-with-circle-up:before {
	content: "\e755";
}

.icon-cloud:before {
	content: "\e756";
}

.icon-controller-fast-forward:before {
	content: "\e757";
}

.icon-controller-jump-to-start:before {
	content: "\e758";
}

.icon-controller-next:before {
	content: "\e759";
}

.icon-controller-paus:before {
	content: "\e75a";
}

.icon-controller-play:before {
	content: "\e75b";
}

.icon-controller-record:before {
	content: "\e75c";
}

.icon-controller-stop:before {
	content: "\e75d";
}

.icon-controller-volume:before {
	content: "\e75e";
}

.icon-dot-single:before {
	content: "\e75f";
}

.icon-dots-three-horizontal:before {
	content: "\e760";
}

.icon-dots-three-vertical:before {
	content: "\e761";
}

.icon-dots-two-horizontal:before {
	content: "\e762";
}

.icon-dots-two-vertical:before {
	content: "\e763";
}

.icon-download:before {
	content: "\e764";
}

.icon-emoji-flirt:before {
	content: "\e765";
}

.icon-flow-branch:before {
	content: "\e766";
}

.icon-flow-cascade:before {
	content: "\e767";
}

.icon-flow-line:before {
	content: "\e768";
}

.icon-flow-parallel:before {
	content: "\e769";
}

.icon-flow-tree:before {
	content: "\e76a";
}

.icon-install:before {
	content: "\e76b";
}

.icon-layers:before {
	content: "\e76c";
}

.icon-open-book:before {
	content: "\e76d";
}

.icon-resize-100:before {
	content: "\e76e";
}

.icon-resize-full-screen:before {
	content: "\e76f";
}

.icon-save:before {
	content: "\e770";
}

.icon-select-arrows:before {
	content: "\e771";
}

.icon-sound-mute:before {
	content: "\e772";
}

.icon-sound:before {
	content: "\e773";
}

.icon-trash:before {
	content: "\e774";
}

.icon-triangle-down:before {
	content: "\e775";
}

.icon-triangle-left:before {
	content: "\e776";
}

.icon-triangle-right:before {
	content: "\e777";
}

.icon-triangle-up:before {
	content: "\e778";
}

.icon-uninstall:before {
	content: "\e779";
}

.icon-upload-to-cloud:before {
	content: "\e77a";
}

.icon-upload:before {
	content: "\e77b";
}

.icon-add-user:before {
	content: "\e77c";
}

.icon-address:before {
	content: "\e77d";
}

.icon-adjust:before {
	content: "\e77e";
}

.icon-air:before {
	content: "\e77f";
}

.icon-aircraft-landing:before {
	content: "\e780";
}

.icon-aircraft-take-off:before {
	content: "\e781";
}

.icon-aircraft:before {
	content: "\e782";
}

.icon-align-bottom:before {
	content: "\e783";
}

.icon-align-horizontal-middle:before {
	content: "\e784";
}

.icon-align-left:before {
	content: "\e785";
}

.icon-align-right:before {
	content: "\e786";
}

.icon-align-top:before {
	content: "\e787";
}

.icon-align-vertical-middle:before {
	content: "\e788";
}

.icon-archive:before {
	content: "\e789";
}

.icon-area-graph:before {
	content: "\e78a";
}

.icon-attachment:before {
	content: "\e78b";
}

.icon-awareness-ribbon:before {
	content: "\e78c";
}

.icon-back-in-time:before {
	content: "\e78d";
}

.icon-back:before {
	content: "\e78e";
}

.icon-bar-graph:before {
	content: "\e78f";
}

.icon-battery:before {
	content: "\e790";
}

.icon-beamed-note:before {
	content: "\e791";
}

.icon-bell:before {
	content: "\e792";
}

.icon-blackboard:before {
	content: "\e793";
}

.icon-block:before {
	content: "\e794";
}

.icon-book:before {
	content: "\e795";
}

.icon-bowl:before {
	content: "\e796";
}

.icon-box:before {
	content: "\e797";
}

.icon-briefcase:before {
	content: "\e798";
}

.icon-browser:before {
	content: "\e799";
}

.icon-brush:before {
	content: "\e79a";
}

.icon-bucket:before {
	content: "\e79b";
}

.icon-cake:before {
	content: "\e79c";
}

.icon-calculator:before {
	content: "\e79d";
}

.icon-calendar:before {
	content: "\e79e";
}

.icon-camera:before {
	content: "\e79f";
}

.icon-ccw:before {
	content: "\e7a0";
}

.icon-chat:before {
	content: "\e7a1";
}

.icon-check:before {
	content: "\e7a2";
}

.icon-circle-with-cross:before {
	content: "\e7a3";
}

.icon-circle-with-minus:before {
	content: "\e7a4";
}

.icon-circle-with-plus:before {
	content: "\e7a5";
}

.icon-circle:before {
	content: "\e7a6";
}

.icon-circular-graph:before {
	content: "\e7a7";
}

.icon-clapperboard:before {
	content: "\e7a8";
}

.icon-clipboard:before {
	content: "\e7a9";
}

.icon-clock:before {
	content: "\e7aa";
}

.icon-code:before {
	content: "\e7ab";
}

.icon-cog:before {
	content: "\e7ac";
}

.icon-colours:before {
	content: "\e7ad";
}

.icon-compass:before {
	content: "\e7ae";
}

.icon-copy:before {
	content: "\e7af";
}

.icon-credit-card:before {
	content: "\e7b0";
}

.icon-credit:before {
	content: "\e7b1";
}

.icon-cross:before {
	content: "\e7b2";
}

.icon-cup:before {
	content: "\e7b3";
}

.icon-cw:before {
	content: "\e7b4";
}

.icon-cycle:before {
	content: "\e7b5";
}

.icon-database:before {
	content: "\e7b6";
}

.icon-dial-pad:before {
	content: "\e7b7";
}

.icon-direction:before {
	content: "\e7b8";
}

.icon-document:before {
	content: "\e7b9";
}

.icon-documents:before {
	content: "\e7ba";
}

.icon-drink:before {
	content: "\e7bb";
}

.icon-drive:before {
	content: "\e7bc";
}

.icon-drop:before {
	content: "\e7bd";
}

.icon-edit:before {
	content: "\e7be";
}

.icon-email:before {
	content: "\e7bf";
}

.icon-emoji-happy:before {
	content: "\e7c0";
}

.icon-emoji-neutral:before {
	content: "\e7c1";
}

.icon-emoji-sad:before {
	content: "\e7c2";
}

.icon-erase:before {
	content: "\e7c3";
}

.icon-eraser:before {
	content: "\e7c4";
}

.icon-export:before {
	content: "\e7c5";
}

.icon-eye:before {
	content: "\e7c6";
}

.icon-feather:before {
	content: "\e7c7";
}

.icon-flag:before {
	content: "\e7c8";
}

.icon-flash:before {
	content: "\e7c9";
}

.icon-flashlight:before {
	content: "\e7ca";
}

.icon-flat-brush:before {
	content: "\e7cb";
}

.icon-folder-images:before {
	content: "\e7cc";
}

.icon-folder-music:before {
	content: "\e7cd";
}

.icon-folder-video:before {
	content: "\e7ce";
}

.icon-folder:before {
	content: "\e7cf";
}

.icon-forward:before {
	content: "\e7d0";
}

.icon-funnel:before {
	content: "\e7d1";
}

.icon-game-controller:before {
	content: "\e7d2";
}

.icon-gauge:before {
	content: "\e7d3";
}

.icon-globe:before {
	content: "\e7d4";
}

.icon-graduation-cap:before {
	content: "\e7d5";
}

.icon-grid:before {
	content: "\e7d6";
}

.icon-hair-cross:before {
	content: "\e7d7";
}

.icon-hand:before {
	content: "\e7d8";
}

.icon-heart-outlined:before {
	content: "\e7d9";
}

.icon-heart:before {
	content: "\e7da";
}

.icon-help-with-circle:before {
	content: "\e7db";
}

.icon-help:before {
	content: "\e7dc";
}

.icon-home:before {
	content: "\e7dd";
}

.icon-hour-glass:before {
	content: "\e7de";
}

.icon-image-inverted:before {
	content: "\e7df";
}

.icon-image:before {
	content: "\e7e0";
}

.icon-images:before {
	content: "\e7e1";
}

.icon-inbox:before {
	content: "\e7e2";
}

.icon-infinity:before {
	content: "\e7e3";
}

.icon-info-with-circle:before {
	content: "\e7e4";
}

.icon-info:before {
	content: "\e7e5";
}

.icon-key:before {
	content: "\e7e6";
}

.icon-keyboard:before {
	content: "\e7e7";
}

.icon-lab-flask:before {
	content: "\e7e8";
}

.icon-landline:before {
	content: "\e7e9";
}

.icon-language:before {
	content: "\e7ea";
}

.icon-laptop:before {
	content: "\e7eb";
}

.icon-leaf:before {
	content: "\e7ec";
}

.icon-level-down:before {
	content: "\e7ed";
}

.icon-level-up:before {
	content: "\e7ee";
}

.icon-lifebuoy:before {
	content: "\e7ef";
}

.icon-light-bulb:before {
	content: "\e7f0";
}

.icon-light-down:before {
	content: "\e7f1";
}

.icon-light-up:before {
	content: "\e7f2";
}

.icon-line-graph:before {
	content: "\e7f3";
}

.icon-link:before {
	content: "\e7f4";
}

.icon-list:before {
	content: "\e7f5";
}

.icon-location-pin:before {
	content: "\e7f6";
}

.icon-location:before {
	content: "\e7f7";
}

.icon-lock-open:before {
	content: "\e7f8";
}

.icon-lock:before {
	content: "\e7f9";
}

.icon-log-out:before {
	content: "\e7fa";
}

.icon-login:before {
	content: "\e7fb";
}

.icon-loop:before {
	content: "\e7fc";
}

.icon-magnet:before {
	content: "\e7fd";
}

.icon-magnifying-glass:before {
	content: "\e7fe";
}

.icon-mail:before {
	content: "\e7ff";
}

.icon-man:before {
	content: "\e800";
}

.icon-map:before {
	content: "\e801";
}

.icon-mask:before {
	content: "\e802";
}

.icon-medal:before {
	content: "\e803";
}

.icon-megaphone:before {
	content: "\e804";
}

.icon-menu:before {
	content: "\e805";
}

.icon-message:before {
	content: "\e806";
}

.icon-mic:before {
	content: "\e807";
}

.icon-minus:before {
	content: "\e808";
}

.icon-mobile:before {
	content: "\e809";
}

.icon-modern-mic:before {
	content: "\e80a";
}

.icon-moon:before {
	content: "\e80b";
}

.icon-mouse:before {
	content: "\e80c";
}

.icon-music:before {
	content: "\e80d";
}

.icon-network:before {
	content: "\e80e";
}

.icon-new-message:before {
	content: "\e80f";
}

.icon-new:before {
	content: "\e810";
}

.icon-news:before {
	content: "\e811";
}

.icon-note:before {
	content: "\e812";
}

.icon-notification:before {
	content: "\e813";
}

.icon-old-mobile:before {
	content: "\e814";
}

.icon-old-phone:before {
	content: "\e815";
}

.icon-palette:before {
	content: "\e816";
}

.icon-paper-plane:before {
	content: "\e817";
}

.icon-pencil:before {
	content: "\e818";
}

.icon-phone:before {
	content: "\e819";
}

.icon-pie-chart:before {
	content: "\e81a";
}

.icon-pin:before {
	content: "\e81b";
}

.icon-plus:before {
	content: "\e81c";
}

.icon-popup:before {
	content: "\e81d";
}

.icon-power-plug:before {
	content: "\e81e";
}

.icon-price-ribbon:before {
	content: "\e81f";
}

.icon-price-tag:before {
	content: "\e820";
}

.icon-print:before {
	content: "\e821";
}

.icon-progress-empty:before {
	content: "\e822";
}

.icon-progress-full:before {
	content: "\e823";
}

.icon-progress-one:before {
	content: "\e824";
}

.icon-progress-two:before {
	content: "\e825";
}

.icon-publish:before {
	content: "\e826";
}

.icon-quote:before {
	content: "\e827";
}

.icon-radio:before {
	content: "\e828";
}

.icon-reply-all:before {
	content: "\e829";
}

.icon-reply:before {
	content: "\e82a";
}

.icon-retweet:before {
	content: "\e82b";
}

.icon-rocket:before {
	content: "\e82c";
}

.icon-round-brush:before {
	content: "\e82d";
}

.icon-rss:before {
	content: "\e82e";
}

.icon-ruler:before {
	content: "\e82f";
}

.icon-scissors:before {
	content: "\e830";
}

.icon-share-alternitive:before {
	content: "\e831";
}

.icon-share:before {
	content: "\e832";
}

.icon-shareable:before {
	content: "\e833";
}

.icon-shield:before {
	content: "\e834";
}

.icon-shop:before {
	content: "\e835";
}

.icon-shopping-bag:before {
	content: "\e836";
}

.icon-shopping-basket:before {
	content: "\e837";
}

.icon-shopping-cart:before {
	content: "\e838";
}

.icon-shuffle:before {
	content: "\e839";
}

.icon-signal:before {
	content: "\e83a";
}

.icon-sound-mix:before {
	content: "\e83b";
}

.icon-sports-club:before {
	content: "\e83c";
}

.icon-spreadsheet:before {
	content: "\e83d";
}

.icon-squared-cross:before {
	content: "\e83e";
}

.icon-squared-minus:before {
	content: "\e83f";
}

.icon-squared-plus:before {
	content: "\e840";
}

.icon-star-outlined:before {
	content: "\e841";
}

.icon-star:before {
	content: "\e842";
}

.icon-stopwatch:before {
	content: "\e843";
}

.icon-suitcase:before {
	content: "\e844";
}

.icon-swap:before {
	content: "\e845";
}

.icon-sweden:before {
	content: "\e846";
}

.icon-switch:before {
	content: "\e847";
}

.icon-tablet:before {
	content: "\e848";
}

.icon-tag:before {
	content: "\e849";
}

.icon-text-document-inverted:before {
	content: "\e84a";
}

.icon-text-document:before {
	content: "\e84b";
}

.icon-text:before {
	content: "\e84c";
}

.icon-thermometer:before {
	content: "\e84d";
}

.icon-thumbs-down:before {
	content: "\e84e";
}

.icon-thumbs-up:before {
	content: "\e84f";
}

.icon-thunder-cloud:before {
	content: "\e850";
}

.icon-ticket:before {
	content: "\e851";
}

.icon-time-slot:before {
	content: "\e852";
}

.icon-tools:before {
	content: "\e853";
}

.icon-traffic-cone:before {
	content: "\e854";
}

.icon-tree:before {
	content: "\e855";
}

.icon-trophy:before {
	content: "\e856";
}

.icon-tv:before {
	content: "\e857";
}

.icon-typing:before {
	content: "\e858";
}

.icon-unread:before {
	content: "\e859";
}

.icon-untag:before {
	content: "\e85a";
}

.icon-user:before {
	content: "\e85b";
}

.icon-users:before {
	content: "\e85c";
}

.icon-v-card:before {
	content: "\e85d";
}

.icon-video:before {
	content: "\e85e";
}

.icon-vinyl:before {
	content: "\e85f";
}

.icon-voicemail:before {
	content: "\e860";
}

.icon-wallet:before {
	content: "\e861";
}

.icon-water:before {
	content: "\e862";
}

.icon-px-with-circle:before {
	content: "\e863";
}

.icon-px:before {
	content: "\e864";
}

.icon-basecamp:before {
	content: "\e865";
}

.icon-behance:before {
	content: "\e866";
}

.icon-creative-cloud:before {
	content: "\e867";
}

.icon-dropbox:before {
	content: "\e868";
}

.icon-evernote:before {
	content: "\e869";
}

.icon-flattr:before {
	content: "\e86a";
}

.icon-foursquare:before {
	content: "\e86b";
}

.icon-google-drive:before {
	content: "\e86c";
}

.icon-google-hangouts:before {
	content: "\e86d";
}

.icon-grooveshark:before {
	content: "\e86e";
}

.icon-icloud:before {
	content: "\e86f";
}

.icon-mixi:before {
	content: "\e870";
}

.icon-onedrive:before {
	content: "\e871";
}

.icon-paypal:before {
	content: "\e872";
}

.icon-picasa:before {
	content: "\e873";
}

.icon-qq:before {
	content: "\e874";
}

.icon-rdio-with-circle:before {
	content: "\e875";
}

.icon-renren:before {
	content: "\e876";
}

.icon-scribd:before {
	content: "\e877";
}

.icon-sina-weibo:before {
	content: "\e878";
}

.icon-skype-with-circle:before {
	content: "\e879";
}

.icon-skype:before {
	content: "\e87a";
}

.icon-slideshare:before {
	content: "\e87b";
}

.icon-smashing:before {
	content: "\e87c";
}

.icon-soundcloud:before {
	content: "\e87d";
}

.icon-spotify-with-circle:before {
	content: "\e87e";
}

.icon-spotify:before {
	content: "\e87f";
}

.icon-swarm:before {
	content: "\e880";
}

.icon-vine-with-circle:before {
	content: "\e881";
}

.icon-vine:before {
	content: "\e882";
}

.icon-vk-alternitive:before {
	content: "\e883";
}

.icon-vk-with-circle:before {
	content: "\e884";
}

.icon-vk:before {
	content: "\e885";
}

.icon-xing-with-circle:before {
	content: "\e886";
}

.icon-xing:before {
	content: "\e887";
}

.icon-yelp:before {
	content: "\e888";
}

.icon-dribbble-with-circle:before {
	content: "\e889";
}

.icon-dribbble:before {
	content: "\e88a";
}

.icon-facebook-with-circle:before {
	content: "\e88b";
}

.icon-facebook:before {
	content: "\e88c";
}

.icon-flickr-with-circle:before {
	content: "\e88d";
}

.icon-flickr:before {
	content: "\e88e";
}

.icon-github-with-circle:before {
	content: "\e88f";
}

.icon-github:before {
	content: "\e890";
}

.icon-google-with-circle:before {
	content: "\e891";
}

.icon-google:before {
	content: "\e892";
}

.icon-instagram-with-circle:before {
	content: "\e893";
}

.icon-instagram:before {
	content: "\e894";
}

.icon-lastfm-with-circle:before {
	content: "\e895";
}

.icon-lastfm:before {
	content: "\e896";
}

.icon-linkedin-with-circle:before {
	content: "\e897";
}

.icon-linkedin:before {
	content: "\e898";
}

.icon-pinterest-with-circle:before {
	content: "\e899";
}

.icon-pinterest:before {
	content: "\e89a";
}

.icon-rdio:before {
	content: "\e89b";
}

.icon-stumbleupon-with-circle:before {
	content: "\e89c";
}

.icon-stumbleupon:before {
	content: "\e89d";
}

.icon-tumblr-with-circle:before {
	content: "\e89e";
}

.icon-tumblr:before {
	content: "\e89f";
}

.icon-twitter-with-circle:before {
	content: "\e8a0";
}

.icon-twitter:before {
	content: "\e8a1";
}

.icon-vimeo-with-circle:before {
	content: "\e8a2";
}

.icon-vimeo:before {
	content: "\e8a3";
}

.icon-youtube-with-circle:before {
	content: "\e8a4";
}

.icon-youtube:before {
	content: "\e8a5";
}

.icon-number:before {
	content: "\e600";
}

.icon-number2:before {
	content: "\e601";
}

.icon-number3:before {
	content: "\e602";
}

.icon-number4:before {
	content: "\e603";
}

.icon-number5:before {
	content: "\e604";
}

.icon-number6:before {
	content: "\e605";
}

.icon-number7:before {
	content: "\e606";
}

.icon-number8:before {
	content: "\e607";
}

.icon-number9:before {
	content: "\e608";
}

.icon-number10:before {
	content: "\e609";
}

.icon-number11:before {
	content: "\e60a";
}

.icon-number12:before {
	content: "\e60b";
}

.icon-number13:before {
	content: "\e60c";
}

.icon-number14:before {
	content: "\e60d";
}

.icon-number15:before {
	content: "\e60e";
}

.icon-number16:before {
	content: "\e60f";
}

.icon-number17:before {
	content: "\e610";
}

.icon-number18:before {
	content: "\e611";
}

.icon-number19:before {
	content: "\e612";
}

.icon-number20:before {
	content: "\e613";
}

.icon-quote2:before {
	content: "\e8a6";
}

.icon-quote3:before {
	content: "\e8a7";
}

.icon-tag2:before {
	content: "\e614";
}

.icon-tag22:before {
	content: "\e615";
}

.icon-link2:before {
	content: "\e616";
}

.icon-link22:before {
	content: "\e617";
}

.icon-cabinet:before {
	content: "\e618";
}

.icon-cabinet2:before {
	content: "\e619";
}

.icon-calendar2:before {
	content: "\e61a";
}

.icon-calendar22:before {
	content: "\e61b";
}

.icon-calendar3:before {
	content: "\e61c";
}

.icon-file:before {
	content: "\e61d";
}

.icon-file2:before {
	content: "\e61e";
}

.icon-file3:before {
	content: "\e61f";
}

.icon-files:before {
	content: "\e620";
}

.icon-phone2:before {
	content: "\e621";
}

.icon-tablet2:before {
	content: "\e622";
}

.icon-window:before {
	content: "\e623";
}

.icon-monitor:before {
	content: "\e624";
}

.icon-ipod:before {
	content: "\e625";
}

.icon-tv2:before {
	content: "\e8a8";
}

.icon-camera2:before {
	content: "\e626";
}

.icon-camera22:before {
	content: "\e627";
}

.icon-camera3:before {
	content: "\e8a9";
}

.icon-film:before {
	content: "\e628";
}

.icon-film2:before {
	content: "\e8aa";
}

.icon-film3:before {
	content: "\e8ab";
}

.icon-microphone:before {
	content: "\e8ac";
}

.icon-microphone2:before {
	content: "\e8ad";
}

.icon-microphone3:before {
	content: "\e8ae";
}

.icon-drink2:before {
	content: "\e629";
}

.icon-drink22:before {
	content: "\e62a";
}

.icon-drink3:before {
	content: "\e8af";
}

.icon-drink32:before {
	content: "\e62b";
}

.icon-coffee:before {
	content: "\e62c";
}

.icon-mug:before {
	content: "\e62d";
}

.icon-icecream:before {
	content: "\e62e";
}

.icon-cake2:before {
	content: "\e62f";
}

.icon-inbox2:before {
	content: "\e630";
}

.icon-download2:before {
	content: "\e631";
}

.icon-upload2:before {
	content: "\e632";
}

.icon-inbox3:before {
	content: "\e8b0";
}

.icon-checkmark:before {
	content: "\e633";
}

.icon-checkmark2:before {
	content: "\e634";
}

.icon-cancel:before {
	content: "\e635";
}

.icon-cancel2:before {
	content: "\e636";
}

.icon-plus2:before {
	content: "\e637";
}

.icon-plus22:before {
	content: "\e638";
}

.icon-minus2:before {
	content: "\e639";
}

.icon-minus22:before {
	content: "\e63a";
}

.icon-notice:before {
	content: "\e63b";
}

.icon-notice2:before {
	content: "\e63c";
}

.icon-cog2:before {
	content: "\e63d";
}

.icon-cogs:before {
	content: "\e63e";
}

.icon-cog22:before {
	content: "\e63f";
}

.icon-warning2:before {
	content: "\e640";
}

.icon-health:before {
	content: "\e641";
}

.icon-suitcase2:before {
	content: "\e642";
}

.icon-suitcase22:before {
	content: "\e643";
}

.icon-suitcase3:before {
	content: "\e644";
}

.icon-picture:before {
	content: "\e645";
}

.icon-pictures:before {
	content: "\e646";
}

.icon-pictures2:before {
	content: "\e647";
}

.icon-android:before {
	content: "\e648";
}

.icon-marvin:before {
	content: "\e649";
}

.icon-pacman:before {
	content: "\e64a";
}

.icon-cassette:before {
	content: "\e8b1";
}

.icon-watch:before {
	content: "\e8b2";
}

.icon-chronometer:before {
	content: "\e64b";
}

.icon-watch2:before {
	content: "\e8b3";
}

.icon-alarmclock:before {
	content: "\e8b4";
}

.icon-time:before {
	content: "\e64c";
}

.icon-time2:before {
	content: "\e64d";
}

.icon-headphones:before {
	content: "\e8b5";
}

.icon-wallet2:before {
	content: "\e8b6";
}

.icon-checkmark3:before {
	content: "\e64e";
}

.icon-cancel3:before {
	content: "\e64f";
}

.icon-eye2:before {
	content: "\e650";
}

.icon-position:before {
	content: "\e8b7";
}

.icon-sitemap:before {
	content: "\e651";
}

.icon-sitemap2:before {
	content: "\e652";
}

.icon-cloud2:before {
	content: "\e653";
}

.icon-upload22:before {
	content: "\e654";
}

.icon-chart:before {
	content: "\e8b8";
}

.icon-chart2:before {
	content: "\e655";
}

.icon-chart22:before {
	content: "\e656";
}

.icon-chart3:before {
	content: "\e657";
}

.icon-chart4:before {
	content: "\e658";
}

.icon-chart5:before {
	content: "\e659";
}

.icon-location2:before {
	content: "\e65a";
}

.icon-download22:before {
	content: "\e65b";
}

.icon-basket:before {
	content: "\e8b9";
}

.icon-folder2:before {
	content: "\e65c";
}

.icon-gamepad:before {
	content: "\e8ba";
}

.icon-alarm:before {
	content: "\e65d";
}

.icon-alarm-cancel:before {
	content: "\e65e";
}

.icon-phone22:before {
	content: "\e65f";
}

.icon-phone3:before {
	content: "\e660";
}

.icon-image2:before {
	content: "\e8bb";
}

.icon-open:before {
	content: "\e661";
}

.icon-sale:before {
	content: "\e662";
}

.icon-direction2:before {
	content: "\e663";
}

.icon-map2:before {
	content: "\e8bc";
}

.icon-trashcan:before {
	content: "\e664";
}

.icon-vote:before {
	content: "\e665";
}

.icon-graduate:before {
	content: "\e666";
}

.icon-lab:before {
	content: "\e667";
}

.icon-tie:before {
	content: "\e668";
}

.icon-football:before {
	content: "\e669";
}

.icon-eightball:before {
	content: "\e66a";
}

.icon-bowling:before {
	content: "\e66b";
}

.icon-bowlingpin:before {
	content: "\e66c";
}

.icon-baseball:before {
	content: "\e66d";
}

.icon-soccer:before {
	content: "\e66e";
}

.icon-3dglasses:before {
	content: "\e66f";
}

.icon-microwave:before {
	content: "\e670";
}

.icon-refrigerator:before {
	content: "\e671";
}

.icon-oven:before {
	content: "\e672";
}

.icon-washingmachine:before {
	content: "\e673";
}

.icon-mouse2:before {
	content: "\e674";
}

.icon-smiley:before {
	content: "\e675";
}

.icon-sad:before {
	content: "\e676";
}

.icon-mute:before {
	content: "\e677";
}

.icon-hand2:before {
	content: "\e678";
}

.icon-radio2:before {
	content: "\e679";
}

.icon-satellite:before {
	content: "\e67a";
}

.icon-medal2:before {
	content: "\e67b";
}

.icon-medal22:before {
	content: "\e67c";
}

.icon-switch2:before {
	content: "\e67d";
}

.icon-key2:before {
	content: "\e67e";
}

.icon-cord:before {
	content: "\e67f";
}

.icon-locked:before {
	content: "\e680";
}

.icon-unlocked:before {
	content: "\e681";
}

.icon-locked2:before {
	content: "\e682";
}

.icon-unlocked2:before {
	content: "\e683";
}

.icon-magnifier:before {
	content: "\e684";
}

.icon-zoomin:before {
	content: "\e685";
}

.icon-zoomout:before {
	content: "\e686";
}

.icon-stack:before {
	content: "\e687";
}

.icon-stack2:before {
	content: "\e688";
}

.icon-stack3:before {
	content: "\e689";
}

.icon-transformers:before {
	content: "\e8bd";
}

.icon-batman:before {
	content: "\e8be";
}

.icon-spaceinvaders:before {
	content: "\e8bf";
}

.icon-skeletor:before {
	content: "\e8c0";
}

.icon-lamp:before {
	content: "\e68a";
}

.icon-lamp2:before {
	content: "\e68b";
}

.icon-umbrella:before {
	content: "\e68c";
}

.icon-streetlight:before {
	content: "\e68d";
}

.icon-bomb:before {
	content: "\e68e";
}

.icon-archive2:before {
	content: "\e68f";
}

.icon-battery2:before {
	content: "\e690";
}

.icon-battery22:before {
	content: "\e691";
}

.icon-battery3:before {
	content: "\e692";
}

.icon-battery4:before {
	content: "\e693";
}

.icon-battery5:before {
	content: "\e8c1";
}

.icon-megaphone2:before {
	content: "\e8c2";
}

.icon-megaphone3:before {
	content: "\e8c3";
}

.icon-patch:before {
	content: "\e8c4";
}

.icon-pil:before {
	content: "\e694";
}

.icon-injection:before {
	content: "\e695";
}

.icon-thermometer2:before {
	content: "\e696";
}

.icon-lamp3:before {
	content: "\e697";
}

.icon-lamp4:before {
	content: "\e698";
}

.icon-cube:before {
	content: "\e8c5";
}

.icon-box2:before {
	content: "\e8c6";
}

.icon-box3:before {
	content: "\e8c7";
}

.icon-diamond:before {
	content: "\e699";
}

.icon-bag:before {
	content: "\e69a";
}

.icon-moneybag:before {
	content: "\e69b";
}

.icon-grid2:before {
	content: "\e69c";
}

.icon-grid22:before {
	content: "\e69d";
}

.icon-list2:before {
	content: "\e69e";
}

.icon-list3:before {
	content: "\e69f";
}

.icon-ruler2:before {
	content: "\e8c8";
}

.icon-ruler3:before {
	content: "\e6a0";
}

.icon-layout:before {
	content: "\e8c9";
}

.icon-layout2:before {
	content: "\e8ca";
}

.icon-layout3:before {
	content: "\e8cb";
}

.icon-layout4:before {
	content: "\e8cc";
}

.icon-layout5:before {
	content: "\e8cd";
}

.icon-layout6:before {
	content: "\e8ce";
}

.icon-layout7:before {
	content: "\e8cf";
}

.icon-layout8:before {
	content: "\e8d0";
}

.icon-layout9:before {
	content: "\e8d1";
}

.icon-layout10:before {
	content: "\e8d2";
}

.icon-layout11:before {
	content: "\e8d3";
}

.icon-layout12:before {
	content: "\e8d4";
}

.icon-layout13:before {
	content: "\e8d5";
}

.icon-layout14:before {
	content: "\e8d6";
}

.icon-tools2:before {
	content: "\e6a1";
}

.icon-screwdriver:before {
	content: "\e6a2";
}

.icon-paint:before {
	content: "\e6a3";
}

.icon-hammer:before {
	content: "\e6a4";
}

.icon-brush2:before {
	content: "\e6a5";
}

.icon-pen:before {
	content: "\e6a6";
}

.icon-chat2:before {
	content: "\e6a7";
}

.icon-comments:before {
	content: "\e6a8";
}

.icon-chat22:before {
	content: "\e6a9";
}

.icon-chat3:before {
	content: "\e6aa";
}

.icon-volume:before {
	content: "\e6ab";
}

.icon-volume2:before {
	content: "\e6ac";
}

.icon-volume3:before {
	content: "\e6ad";
}

.icon-equalizer:before {
	content: "\e6ae";
}

.icon-resize:before {
	content: "\e6af";
}

.icon-resize2:before {
	content: "\e6b0";
}

.icon-stretch:before {
	content: "\e6b1";
}

.icon-narrow:before {
	content: "\e6b2";
}

.icon-resize3:before {
	content: "\e6b3";
}

.icon-download3:before {
	content: "\e6b4";
}

.icon-calculator2:before {
	content: "\e6b5";
}

.icon-library:before {
	content: "\e6b6";
}

.icon-auction:before {
	content: "\e6b7";
}

.icon-justice:before {
	content: "\e6b8";
}

.icon-stats:before {
	content: "\e6b9";
}

.icon-stats2:before {
	content: "\e6ba";
}

.icon-attachment2:before {
	content: "\e6bb";
}

.icon-hourglass:before {
	content: "\e6bc";
}

.icon-abacus:before {
	content: "\e6bd";
}

.icon-pencil2:before {
	content: "\e6be";
}

.icon-pen2:before {
	content: "\e6bf";
}

.icon-pin2:before {
	content: "\e6c0";
}

.icon-pin22:before {
	content: "\e6c1";
}

.icon-discout:before {
	content: "\e6c2";
}

.icon-edit2:before {
	content: "\e6c3";
}

.icon-scissors2:before {
	content: "\e6c4";
}

.icon-profile:before {
	content: "\e6c5";
}

.icon-profile2:before {
	content: "\e6c6";
}

.icon-profile3:before {
	content: "\e6c7";
}

.icon-rotate:before {
	content: "\e6c8";
}

.icon-rotate2:before {
	content: "\e6c9";
}

.icon-reply2:before {
	content: "\e6ca";
}

.icon-forward2:before {
	content: "\e6cb";
}

.icon-retweet2:before {
	content: "\e6cc";
}

.icon-shuffle2:before {
	content: "\e6cd";
}

.icon-loop2:before {
	content: "\e6ce";
}

.icon-crop:before {
	content: "\e6cf";
}

.icon-square:before {
	content: "\e6d0";
}

.icon-square2:before {
	content: "\e6d1";
}

.icon-circle2:before {
	content: "\e6d2";
}

.icon-dollar:before {
	content: "\e6d3";
}

.icon-dollar2:before {
	content: "\e6d4";
}

.icon-coins:before {
	content: "\e6d5";
}

.icon-pig:before {
	content: "\e6d6";
}

.icon-bookmark2:before {
	content: "\e6d7";
}

.icon-bookmark22:before {
	content: "\e6d8";
}

.icon-addressbook:before {
	content: "\e6d9";
}

.icon-addressbook2:before {
	content: "\e6da";
}

.icon-safe:before {
	content: "\e6db";
}

.icon-envelope:before {
	content: "\e6dc";
}

.icon-envelope2:before {
	content: "\e6dd";
}

.icon-radioactive:before {
	content: "\e6de";
}

.icon-music2:before {
	content: "\e6df";
}

.icon-presentation:before {
	content: "\e8d7";
}

.icon-male:before {
	content: "\e6e0";
}

.icon-female:before {
	content: "\e6e1";
}

.icon-aids:before {
	content: "\e6e2";
}

.icon-heart2:before {
	content: "\e6e3";
}

.icon-info2:before {
	content: "\e6e4";
}

.icon-info22:before {
	content: "\e6e5";
}

.icon-piano:before {
	content: "\e8d8";
}

.icon-rain:before {
	content: "\e6e6";
}

.icon-snow:before {
	content: "\e6e7";
}

.icon-lightning:before {
	content: "\e6e8";
}

.icon-sun:before {
	content: "\e6e9";
}

.icon-moon2:before {
	content: "\e6ea";
}

.icon-cloudy:before {
	content: "\e6eb";
}

.icon-cloudy2:before {
	content: "\e6ec";
}

.icon-car:before {
	content: "\e6ed";
}

.icon-bike:before {
	content: "\e6ee";
}

.icon-truck:before {
	content: "\e6ef";
}

.icon-bus:before {
	content: "\e6f0";
}

.icon-bike2:before {
	content: "\e6f1";
}

.icon-plane:before {
	content: "\e6f2";
}

.icon-paperplane:before {
	content: "\e6f3";
}

.icon-rocket2:before {
	content: "\e8d9";
}

.icon-book2:before {
	content: "\e6f4";
}

.icon-book3:before {
	content: "\e8da";
}

.icon-barcode:before {
	content: "\e8db";
}

.icon-barcode2:before {
	content: "\e8dc";
}

.icon-expand:before {
	content: "\e6f5";
}

.icon-collapse:before {
	content: "\e6f6";
}

.icon-popout:before {
	content: "\e6f7";
}

.icon-popin:before {
	content: "\e6f8";
}

.icon-target:before {
	content: "\e6f9";
}

.icon-badge:before {
	content: "\e6fa";
}

.icon-badge2:before {
	content: "\e6fb";
}

.icon-ticket2:before {
	content: "\e6fc";
}

.icon-ticket22:before {
	content: "\e6fd";
}

.icon-ticket3:before {
	content: "\e6fe";
}

.icon-microphone4:before {
	content: "\e8dd";
}

.icon-cone:before {
	content: "\e8de";
}

.icon-blocked:before {
	content: "\e6ff";
}

.icon-stop:before {
	content: "\e700";
}

.icon-keyboard2:before {
	content: "\e701";
}

.icon-keyboard22:before {
	content: "\e702";
}

.icon-radio3:before {
	content: "\e8df";
}

.icon-printer:before {
	content: "\e703";
}

.icon-checked:before {
	content: "\e704";
}

.icon-error:before {
	content: "\e705";
}

.icon-add:before {
	content: "\e706";
}

.icon-minus3:before {
	content: "\e707";
}

.icon-alert:before {
	content: "\e708";
}

.icon-pictures3:before {
	content: "\e709";
}

.icon-atom:before {
	content: "\e70a";
}

.icon-eyedropper:before {
	content: "\e70b";
}

.icon-globe2:before {
	content: "\e70c";
}

.icon-globe22:before {
	content: "\e70d";
}

.icon-shipping:before {
	content: "\e70e";
}

.icon-yingyang:before {
	content: "\e70f";
}

.icon-compass2:before {
	content: "\e710";
}

.icon-zip:before {
	content: "\e711";
}

.icon-zip2:before {
	content: "\e712";
}

.icon-anchor:before {
	content: "\e713";
}

.icon-lockedheart:before {
	content: "\e8e0";
}

.icon-magnet2:before {
	content: "\e714";
}

.icon-navigation:before {
	content: "\e715";
}

.icon-tags:before {
	content: "\e716";
}

.icon-heart22:before {
	content: "\e717";
}

.icon-heart3:before {
	content: "\e718";
}

.icon-usb:before {
	content: "\e719";
}

.icon-clipboard2:before {
	content: "\e71a";
}

.icon-clipboard22:before {
	content: "\e71b";
}

.icon-clipboard3:before {
	content: "\e71c";
}

.icon-switch22:before {
	content: "\e71d";
}

.icon-ruler22:before {
	content: "\e71e";
}

.icon-heart4:before {
	content: "\e8e1";
}

.icon-cloud3:before {
	content: "\e8e2";
}

.icon-star2:before {
	content: "\e8e3";
}

.icon-tv3:before {
	content: "\e8e4";
}

.icon-sound2:before {
	content: "\e8e5";
}

.icon-video2:before {
	content: "\e8e6";
}

.icon-trash2:before {
	content: "\e8e7";
}

.icon-user2:before {
	content: "\e71f";
}

.icon-key3:before {
	content: "\e720";
}

.icon-search:before {
	content: "\e8e8";
}

.icon-settings:before {
	content: "\e8e9";
}

.icon-camera4:before {
	content: "\e8ea";
}

.icon-tag3:before {
	content: "\e8eb";
}

.icon-lock2:before {
	content: "\e721";
}

.icon-bulb:before {
	content: "\e722";
}

.icon-pen3:before {
	content: "\e8ec";
}

.icon-diamond2:before {
	content: "\e8ed";
}

.icon-display:before {
	content: "\e8ee";
}

.icon-location3:before {
	content: "\e8ef";
}

.icon-eye3:before {
	content: "\e8f0";
}

.icon-bubble:before {
	content: "\e8f1";
}

.icon-stack4:before {
	content: "\e8f2";
}

.icon-cup2:before {
	content: "\e8f3";
}

.icon-phone4:before {
	content: "\e8f4";
}

.icon-news2:before {
	content: "\e8f5";
}

.icon-mail2:before {
	content: "\e8f6";
}

.icon-like:before {
	content: "\e8f7";
}

.icon-photo:before {
	content: "\e8f8";
}

.icon-note2:before {
	content: "\e8f9";
}

.icon-clock2:before {
	content: "\e8fa";
}

.icon-paperplane2:before {
	content: "\e8fb";
}

.icon-params:before {
	content: "\e8fc";
}

.icon-banknote:before {
	content: "\e8fd";
}

.icon-data:before {
	content: "\e8fe";
}

.icon-music3:before {
	content: "\e8ff";
}

.icon-megaphone4:before {
	content: "\eaeb";
}

.icon-study:before {
	content: "\eaec";
}

.icon-lab2:before {
	content: "\eaed";
}

.icon-food:before {
	content: "\eaee";
}

.icon-t-shirt:before {
	content: "\eaef";
}

.icon-fire:before {
	content: "\e723";
}

.icon-clip:before {
	content: "\e724";
}

.icon-shop2:before {
	content: "\eaf0";
}

.icon-calendar4:before {
	content: "\eaf1";
}

.icon-wallet3:before {
	content: "\eaf2";
}

.icon-vynil:before {
	content: "\eaf3";
}

.icon-truck2:before {
	content: "\eaf4";
}

.icon-world:before {
	content: "\eaf5";
}

.icon-home2:before {
	content: "\e900";
}

.icon-home22:before {
	content: "\e901";
}

.icon-home3:before {
	content: "\e902";
}

.icon-office:before {
	content: "\e903";
}

.icon-newspaper:before {
	content: "\e904";
}

.icon-pencil3:before {
	content: "\e905";
}

.icon-pencil22:before {
	content: "\e906";
}

.icon-quill:before {
	content: "\e907";
}

.icon-pen4:before {
	content: "\e908";
}

.icon-blog:before {
	content: "\e909";
}

.icon-eyedropper2:before {
	content: "\e90a";
}

.icon-droplet:before {
	content: "\e90b";
}

.icon-paint-format:before {
	content: "\e90c";
}

.icon-image3:before {
	content: "\e90d";
}

.icon-images2:before {
	content: "\e90e";
}

.icon-camera5:before {
	content: "\e90f";
}

.icon-headphones2:before {
	content: "\e910";
}

.icon-music4:before {
	content: "\e911";
}

.icon-play:before {
	content: "\e912";
}

.icon-film4:before {
	content: "\e913";
}

.icon-video-camera:before {
	content: "\e914";
}

.icon-dice:before {
	content: "\e915";
}

.icon-pacman2:before {
	content: "\e916";
}

.icon-spades:before {
	content: "\e917";
}

.icon-clubs:before {
	content: "\e918";
}

.icon-diamonds:before {
	content: "\e919";
}

.icon-bullhorn:before {
	content: "\e91a";
}

.icon-connection:before {
	content: "\e91b";
}

.icon-podcast:before {
	content: "\e91c";
}

.icon-feed:before {
	content: "\e91d";
}

.icon-mic2:before {
	content: "\e91e";
}

.icon-book4:before {
	content: "\e91f";
}

.icon-books:before {
	content: "\e920";
}

.icon-library2:before {
	content: "\e921";
}

.icon-file-text:before {
	content: "\e922";
}

.icon-profile4:before {
	content: "\e923";
}

.icon-file-empty:before {
	content: "\e924";
}

.icon-files-empty:before {
	content: "\e925";
}

.icon-file-text2:before {
	content: "\e926";
}

.icon-file-picture:before {
	content: "\e927";
}

.icon-file-music:before {
	content: "\e928";
}

.icon-file-play:before {
	content: "\e929";
}

.icon-file-video:before {
	content: "\e92a";
}

.icon-file-zip:before {
	content: "\e92b";
}

.icon-copy2:before {
	content: "\e92c";
}

.icon-paste:before {
	content: "\e92d";
}

.icon-stack5:before {
	content: "\e92e";
}

.icon-folder3:before {
	content: "\e92f";
}

.icon-folder-open:before {
	content: "\e930";
}

.icon-folder-plus:before {
	content: "\e931";
}

.icon-folder-minus:before {
	content: "\e932";
}

.icon-folder-download:before {
	content: "\e933";
}

.icon-folder-upload:before {
	content: "\e934";
}

.icon-price-tag2:before {
	content: "\e935";
}

.icon-price-tags:before {
	content: "\e936";
}

.icon-barcode3:before {
	content: "\e937";
}

.icon-qrcode:before {
	content: "\e938";
}

.icon-ticket4:before {
	content: "\e939";
}

.icon-cart:before {
	content: "\e93a";
}

.icon-coin-dollar:before {
	content: "\e93b";
}

.icon-coin-euro:before {
	content: "\e93c";
}

.icon-coin-pound:before {
	content: "\e93d";
}

.icon-coin-yen:before {
	content: "\e93e";
}

.icon-credit-card2:before {
	content: "\e93f";
}

.icon-calculator3:before {
	content: "\e940";
}

.icon-lifebuoy2:before {
	content: "\e941";
}

.icon-phone42:before {
	content: "\e942";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-pushpin:before {
	content: "\e946";
}

.icon-location4:before {
	content: "\e947";
}

.icon-location22:before {
	content: "\e948";
}

.icon-compass3:before {
	content: "\e949";
}

.icon-compass22:before {
	content: "\e94a";
}

.icon-map3:before {
	content: "\e94b";
}

.icon-map22:before {
	content: "\e94c";
}

.icon-history:before {
	content: "\e94d";
}

.icon-clock3:before {
	content: "\e94e";
}

.icon-clock22:before {
	content: "\e94f";
}

.icon-alarm2:before {
	content: "\e950";
}

.icon-bell2:before {
	content: "\e951";
}

.icon-stopwatch2:before {
	content: "\e952";
}

.icon-calendar5:before {
	content: "\e953";
}

.icon-printer2:before {
	content: "\e954";
}

.icon-keyboard3:before {
	content: "\e955";
}

.icon-display2:before {
	content: "\e956";
}

.icon-laptop2:before {
	content: "\e957";
}

.icon-mobile2:before {
	content: "\e958";
}

.icon-mobile22:before {
	content: "\e959";
}

.icon-tablet3:before {
	content: "\e95a";
}

.icon-tv4:before {
	content: "\e95b";
}

.icon-drawer:before {
	content: "\e95c";
}

.icon-drawer2:before {
	content: "\e95d";
}

.icon-box-add:before {
	content: "\e95e";
}

.icon-box-remove:before {
	content: "\e95f";
}

.icon-download4:before {
	content: "\e960";
}

.icon-upload3:before {
	content: "\e961";
}

.icon-floppy-disk:before {
	content: "\e962";
}

.icon-drive2:before {
	content: "\e963";
}

.icon-database2:before {
	content: "\e964";
}

.icon-undo:before {
	content: "\e965";
}

.icon-redo:before {
	content: "\e966";
}

.icon-undo2:before {
	content: "\e967";
}

.icon-redo2:before {
	content: "\e968";
}

.icon-forward3:before {
	content: "\e969";
}

.icon-reply3:before {
	content: "\e96a";
}

.icon-bubble2:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-bubble22:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-bubbles4:before {
	content: "\e970";
}

.icon-user22:before {
	content: "\e971";
}

.icon-users2:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-hour-glass2:before {
	content: "\e979";
}

.icon-spinner:before {
	content: "\e97a";
}

.icon-spinner2:before {
	content: "\e97b";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-spinner4:before {
	content: "\e97d";
}

.icon-spinner5:before {
	content: "\e97e";
}

.icon-spinner6:before {
	content: "\e97f";
}

.icon-spinner7:before {
	content: "\e980";
}

.icon-spinner8:before {
	content: "\e981";
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-spinner10:before {
	content: "\e983";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-binoculars:before {
	content: "\e985";
}

.icon-search2:before {
	content: "\e986";
}

.icon-zoom-in:before {
	content: "\e987";
}

.icon-zoom-out:before {
	content: "\e988";
}

.icon-enlarge:before {
	content: "\e989";
}

.icon-shrink:before {
	content: "\e98a";
}

.icon-enlarge2:before {
	content: "\e98b";
}

.icon-shrink2:before {
	content: "\e98c";
}

.icon-key4:before {
	content: "\e98d";
}

.icon-key22:before {
	content: "\e98e";
}

.icon-lock22:before {
	content: "\e98f";
}

.icon-unlocked3:before {
	content: "\e990";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-equalizer2:before {
	content: "\e992";
}

.icon-equalizer22:before {
	content: "\e993";
}

.icon-cog3:before {
	content: "\e994";
}

.icon-cogs2:before {
	content: "\e995";
}

.icon-hammer2:before {
	content: "\e996";
}

.icon-magic-wand:before {
	content: "\e997";
}

.icon-aid-kit:before {
	content: "\e998";
}

.icon-bug:before {
	content: "\e999";
}

.icon-pie-chart2:before {
	content: "\e99a";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-stats-bars:before {
	content: "\e99c";
}

.icon-stats-bars2:before {
	content: "\e99d";
}

.icon-trophy2:before {
	content: "\e99e";
}

.icon-gift:before {
	content: "\e99f";
}

.icon-glass:before {
	content: "\e9a0";
}

.icon-glass2:before {
	content: "\e9a1";
}

.icon-mug2:before {
	content: "\e9a2";
}

.icon-spoon-knife:before {
	content: "\e9a3";
}

.icon-leaf2:before {
	content: "\e9a4";
}

.icon-rocket3:before {
	content: "\e9a5";
}

.icon-meter:before {
	content: "\e9a6";
}

.icon-meter2:before {
	content: "\e9a7";
}

.icon-hammer22:before {
	content: "\e9a8";
}

.icon-fire2:before {
	content: "\e9a9";
}

.icon-lab3:before {
	content: "\e9aa";
}

.icon-magnet3:before {
	content: "\e9ab";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-bin2:before {
	content: "\e9ad";
}

.icon-briefcase2:before {
	content: "\e9ae";
}

.icon-airplane:before {
	content: "\e9af";
}

.icon-truck3:before {
	content: "\e9b0";
}

.icon-road:before {
	content: "\e9b1";
}

.icon-accessibility:before {
	content: "\e9b2";
}

.icon-target2:before {
	content: "\e9b3";
}

.icon-shield2:before {
	content: "\e9b4";
}

.icon-power:before {
	content: "\e9b5";
}

.icon-switch3:before {
	content: "\e9b6";
}

.icon-power-cord:before {
	content: "\e9b7";
}

.icon-clipboard4:before {
	content: "\e9b8";
}

.icon-list-numbered:before {
	content: "\e9b9";
}

.icon-list4:before {
	content: "\e9ba";
}

.icon-list22:before {
	content: "\e9bb";
}

.icon-tree2:before {
	content: "\e9bc";
}

.icon-menu2:before {
	content: "\e9bd";
}

.icon-menu22:before {
	content: "\e9be";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-cloud4:before {
	content: "\e9c1";
}

.icon-cloud-download:before {
	content: "\e9c2";
}

.icon-cloud-upload:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-download23:before {
	content: "\e9c5";
}

.icon-upload23:before {
	content: "\e9c6";
}

.icon-download32:before {
	content: "\e9c7";
}

.icon-upload32:before {
	content: "\e9c8";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-link3:before {
	content: "\e9cb";
}

.icon-flag2:before {
	content: "\e9cc";
}

.icon-attachment3:before {
	content: "\e9cd";
}

.icon-eye22:before {
	content: "\e9ce";
}

.icon-eye-plus:before {
	content: "\e9cf";
}

.icon-eye-minus:before {
	content: "\e9d0";
}

.icon-eye-blocked:before {
	content: "\e9d1";
}

.icon-bookmark3:before {
	content: "\e9d2";
}

.icon-bookmarks2:before {
	content: "\e9d3";
}

.icon-sun2:before {
	content: "\e9d4";
}

.icon-contrast:before {
	content: "\e9d5";
}

.icon-brightness-contrast:before {
	content: "\e9d6";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-half:before {
	content: "\e9d8";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-heart5:before {
	content: "\e9da";
}

.icon-heart-broken:before {
	content: "\e9db";
}

.icon-man2:before {
	content: "\e9dc";
}

.icon-woman:before {
	content: "\e9dd";
}

.icon-man-woman:before {
	content: "\e9de";
}

.icon-happy:before {
	content: "\e9df";
}

.icon-happy2:before {
	content: "\e9e0";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-smile2:before {
	content: "\e9e2";
}

.icon-tongue:before {
	content: "\e9e3";
}

.icon-tongue2:before {
	content: "\e9e4";
}

.icon-sad2:before {
	content: "\e9e5";
}

.icon-sad22:before {
	content: "\e9e6";
}

.icon-wink:before {
	content: "\e9e7";
}

.icon-wink2:before {
	content: "\e9e8";
}

.icon-grin:before {
	content: "\e9e9";
}

.icon-grin2:before {
	content: "\e9ea";
}

.icon-cool:before {
	content: "\e9eb";
}

.icon-cool2:before {
	content: "\e9ec";
}

.icon-angry:before {
	content: "\e9ed";
}

.icon-angry2:before {
	content: "\e9ee";
}

.icon-evil:before {
	content: "\e9ef";
}

.icon-evil2:before {
	content: "\e9f0";
}

.icon-shocked:before {
	content: "\e9f1";
}

.icon-shocked2:before {
	content: "\e9f2";
}

.icon-baffled:before {
	content: "\e9f3";
}

.icon-baffled2:before {
	content: "\e9f4";
}

.icon-confused:before {
	content: "\e9f5";
}

.icon-confused2:before {
	content: "\e9f6";
}

.icon-neutral:before {
	content: "\e9f7";
}

.icon-neutral2:before {
	content: "\e9f8";
}

.icon-hipster:before {
	content: "\e9f9";
}

.icon-hipster2:before {
	content: "\e9fa";
}

.icon-wondering:before {
	content: "\e9fb";
}

.icon-wondering2:before {
	content: "\e9fc";
}

.icon-sleepy:before {
	content: "\e9fd";
}

.icon-sleepy2:before {
	content: "\e9fe";
}

.icon-frustrated:before {
	content: "\e9ff";
}

.icon-frustrated2:before {
	content: "\ea00";
}

.icon-crying:before {
	content: "\ea01";
}

.icon-crying2:before {
	content: "\ea02";
}

.icon-point-up:before {
	content: "\ea03";
}

.icon-point-right:before {
	content: "\ea04";
}

.icon-point-down:before {
	content: "\ea05";
}

.icon-point-left:before {
	content: "\ea06";
}

.icon-warning3:before {
	content: "\ea07";
}

.icon-notification2:before {
	content: "\ea08";
}

.icon-question:before {
	content: "\ea09";
}

.icon-plus3:before {
	content: "\ea0a";
}

.icon-minus4:before {
	content: "\ea0b";
}

.icon-info3:before {
	content: "\ea0c";
}

.icon-cancel-circle:before {
	content: "\ea0d";
}

.icon-blocked2:before {
	content: "\ea0e";
}

.icon-cross2:before {
	content: "\ea0f";
}

.icon-checkmark4:before {
	content: "\ea10";
}

.icon-checkmark22:before {
	content: "\ea11";
}

.icon-spell-check:before {
	content: "\ea12";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-play2:before {
	content: "\ea15";
}

.icon-pause:before {
	content: "\ea16";
}

.icon-stop2:before {
	content: "\ea17";
}

.icon-previous:before {
	content: "\ea18";
}

.icon-next:before {
	content: "\ea19";
}

.icon-backward:before {
	content: "\ea1a";
}

.icon-forward22:before {
	content: "\ea1b";
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-pause2:before {
	content: "\ea1d";
}

.icon-stop22:before {
	content: "\ea1e";
}

.icon-backward2:before {
	content: "\ea1f";
}

.icon-forward32:before {
	content: "\ea20";
}

.icon-first:before {
	content: "\ea21";
}

.icon-last:before {
	content: "\ea22";
}

.icon-previous2:before {
	content: "\ea23";
}

.icon-next2:before {
	content: "\ea24";
}

.icon-eject:before {
	content: "\ea25";
}

.icon-volume-high:before {
	content: "\ea26";
}

.icon-volume-medium:before {
	content: "\ea27";
}

.icon-volume-low:before {
	content: "\ea28";
}

.icon-volume-mute:before {
	content: "\ea29";
}

.icon-volume-mute2:before {
	content: "\ea2a";
}

.icon-volume-increase:before {
	content: "\ea2b";
}

.icon-volume-decrease:before {
	content: "\ea2c";
}

.icon-loop3:before {
	content: "\ea2d";
}

.icon-loop22:before {
	content: "\ea2e";
}

.icon-infinite:before {
	content: "\ea2f";
}

.icon-shuffle3:before {
	content: "\ea30";
}

.icon-arrow-up-left:before {
	content: "\ea31";
}

.icon-arrow-up2:before {
	content: "\ea32";
}

.icon-arrow-up-right:before {
	content: "\ea33";
}

.icon-arrow-right2:before {
	content: "\ea34";
}

.icon-arrow-down-right:before {
	content: "\ea35";
}

.icon-arrow-down2:before {
	content: "\ea36";
}

.icon-arrow-down-left:before {
	content: "\ea37";
}

.icon-arrow-left2:before {
	content: "\ea38";
}

.icon-arrow-up-left2:before {
	content: "\ea39";
}

.icon-arrow-up22:before {
	content: "\ea3a";
}

.icon-arrow-up-right2:before {
	content: "\ea3b";
}

.icon-arrow-right22:before {
	content: "\ea3c";
}

.icon-arrow-down-right2:before {
	content: "\ea3d";
}

.icon-arrow-down22:before {
	content: "\ea3e";
}

.icon-arrow-down-left2:before {
	content: "\ea3f";
}

.icon-arrow-left22:before {
	content: "\ea40";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-tab:before {
	content: "\ea45";
}

.icon-move-up:before {
	content: "\ea46";
}

.icon-move-down:before {
	content: "\ea47";
}

.icon-sort-alpha-asc:before {
	content: "\ea48";
}

.icon-sort-alpha-desc:before {
	content: "\ea49";
}

.icon-sort-numeric-asc:before {
	content: "\ea4a";
}

.icon-sort-numberic-desc:before {
	content: "\ea4b";
}

.icon-sort-amount-asc:before {
	content: "\ea4c";
}

.icon-sort-amount-desc:before {
	content: "\ea4d";
}

.icon-command:before {
	content: "\ea4e";
}

.icon-shift:before {
	content: "\ea4f";
}

.icon-ctrl:before {
	content: "\ea50";
}

.icon-opt:before {
	content: "\ea51";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-radio-checked:before {
	content: "\ea54";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-radio-unchecked:before {
	content: "\ea56";
}

.icon-crop2:before {
	content: "\ea57";
}

.icon-make-group:before {
	content: "\ea58";
}

.icon-ungroup:before {
	content: "\ea59";
}

.icon-scissors3:before {
	content: "\ea5a";
}

.icon-filter:before {
	content: "\ea5b";
}

.icon-font:before {
	content: "\ea5c";
}

.icon-ligature:before {
	content: "\ea5d";
}

.icon-ligature2:before {
	content: "\ea5e";
}

.icon-text-height:before {
	content: "\ea5f";
}

.icon-text-width:before {
	content: "\ea60";
}

.icon-font-size:before {
	content: "\ea61";
}

.icon-bold:before {
	content: "\ea62";
}

.icon-underline:before {
	content: "\ea63";
}

.icon-italic:before {
	content: "\ea64";
}

.icon-strikethrough:before {
	content: "\ea65";
}

.icon-omega:before {
	content: "\ea66";
}

.icon-sigma:before {
	content: "\ea67";
}

.icon-page-break:before {
	content: "\ea68";
}

.icon-superscript:before {
	content: "\ea69";
}

.icon-subscript:before {
	content: "\ea6a";
}

.icon-superscript2:before {
	content: "\ea6b";
}

.icon-subscript2:before {
	content: "\ea6c";
}

.icon-text-color:before {
	content: "\ea6d";
}

.icon-pagebreak:before {
	content: "\ea6e";
}

.icon-clear-formatting:before {
	content: "\ea6f";
}

.icon-table:before {
	content: "\ea70";
}

.icon-table2:before {
	content: "\ea71";
}

.icon-insert-template:before {
	content: "\ea72";
}

.icon-pilcrow:before {
	content: "\ea73";
}

.icon-ltr:before {
	content: "\ea74";
}

.icon-rtl:before {
	content: "\ea75";
}

.icon-section:before {
	content: "\ea76";
}

.icon-paragraph-left:before {
	content: "\ea77";
}

.icon-paragraph-center:before {
	content: "\ea78";
}

.icon-paragraph-right:before {
	content: "\ea79";
}

.icon-paragraph-justify:before {
	content: "\ea7a";
}

.icon-indent-increase:before {
	content: "\ea7b";
}

.icon-indent-decrease:before {
	content: "\ea7c";
}

.icon-share2:before {
	content: "\ea7d";
}

.icon-new-tab:before {
	content: "\ea7e";
}

.icon-embed:before {
	content: "\ea7f";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-terminal:before {
	content: "\ea81";
}

.icon-share22:before {
	content: "\ea82";
}

.icon-mail3:before {
	content: "\ea83";
}

.icon-mail22:before {
	content: "\ea84";
}

.icon-mail32:before {
	content: "\ea85";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-google2:before {
	content: "\ea87";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-google-plus3:before {
	content: "\ea8a";
}

.icon-google-drive2:before {
	content: "\ea8b";
}

.icon-facebook2:before {
	content: "\ea8c";
}

.icon-facebook22:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-ello:before {
	content: "\ea8f";
}

.icon-instagram2:before {
	content: "\ea90";
}

.icon-twitter2:before {
	content: "\ea91";
}

.icon-twitter22:before {
	content: "\ea92";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-feed2:before {
	content: "\ea94";
}

.icon-feed3:before {
	content: "\ea95";
}

.icon-feed4:before {
	content: "\ea96";
}

.icon-youtube2:before {
	content: "\ea97";
}

.icon-youtube22:before {
	content: "\ea98";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-youtube4:before {
	content: "\ea9a";
}

.icon-twitch:before {
	content: "\ea9b";
}

.icon-vimeo2:before {
	content: "\ea9c";
}

.icon-vimeo22:before {
	content: "\ea9d";
}

.icon-vimeo3:before {
	content: "\ea9e";
}

.icon-lanyrd:before {
	content: "\ea9f";
}

.icon-flickr2:before {
	content: "\eaa0";
}

.icon-flickr22:before {
	content: "\eaa1";
}

.icon-flickr3:before {
	content: "\eaa2";
}

.icon-flickr4:before {
	content: "\eaa3";
}

.icon-picassa:before {
	content: "\eaa4";
}

.icon-picassa2:before {
	content: "\eaa5";
}

.icon-dribbble2:before {
	content: "\eaa6";
}

.icon-dribbble22:before {
	content: "\eaa7";
}

.icon-dribbble3:before {
	content: "\eaa8";
}

.icon-forrst:before {
	content: "\eaa9";
}

.icon-forrst2:before {
	content: "\eaaa";
}

.icon-deviantart:before {
	content: "\eaab";
}

.icon-deviantart2:before {
	content: "\eaac";
}

.icon-steam:before {
	content: "\eaad";
}

.icon-steam2:before {
	content: "\eaae";
}

.icon-dropbox2:before {
	content: "\eaaf";
}

.icon-onedrive2:before {
	content: "\eab0";
}

.icon-github2:before {
	content: "\eab1";
}

.icon-github22:before {
	content: "\eab2";
}

.icon-github3:before {
	content: "\eab3";
}

.icon-github4:before {
	content: "\eab4";
}

.icon-github5:before {
	content: "\eab5";
}

.icon-wordpress:before {
	content: "\eab6";
}

.icon-wordpress2:before {
	content: "\eab7";
}

.icon-joomla:before {
	content: "\eab8";
}

.icon-blogger:before {
	content: "\eab9";
}

.icon-blogger2:before {
	content: "\eaba";
}

.icon-tumblr2:before {
	content: "\eabb";
}

.icon-tumblr22:before {
	content: "\eabc";
}

.icon-yahoo:before {
	content: "\eabd";
}

.icon-tux:before {
	content: "\eabe";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-finder:before {
	content: "\eac0";
}

.icon-android2:before {
	content: "\eac1";
}

.icon-windows:before {
	content: "\eac2";
}

.icon-windows8:before {
	content: "\eac3";
}

.icon-soundcloud2:before {
	content: "\eac4";
}

.icon-soundcloud22:before {
	content: "\eac5";
}

.icon-skype2:before {
	content: "\eac6";
}

.icon-reddit:before {
	content: "\eac7";
}

.icon-linkedin2:before {
	content: "\eac8";
}

.icon-linkedin22:before {
	content: "\eac9";
}

.icon-lastfm2:before {
	content: "\eaca";
}

.icon-lastfm22:before {
	content: "\eacb";
}

.icon-delicious:before {
	content: "\eacc";
}

.icon-stumbleupon2:before {
	content: "\eacd";
}

.icon-stumbleupon22:before {
	content: "\eace";
}

.icon-stackoverflow:before {
	content: "\eacf";
}

.icon-pinterest2:before {
	content: "\ead0";
}

.icon-pinterest22:before {
	content: "\ead1";
}

.icon-xing2:before {
	content: "\ead2";
}

.icon-xing22:before {
	content: "\ead3";
}

.icon-flattr2:before {
	content: "\ead4";
}

.icon-foursquare2:before {
	content: "\ead5";
}

.icon-paypal2:before {
	content: "\ead6";
}

.icon-paypal22:before {
	content: "\ead7";
}

.icon-paypal3:before {
	content: "\ead8";
}

.icon-yelp2:before {
	content: "\ead9";
}

.icon-file-pdf:before {
	content: "\eada";
}

.icon-file-openoffice:before {
	content: "\eadb";
}

.icon-file-word:before {
	content: "\eadc";
}

.icon-file-excel:before {
	content: "\eadd";
}

.icon-libreoffice:before {
	content: "\eade";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css3:before {
	content: "\eae1";
}

.icon-git:before {
	content: "\eae2";
}

.icon-svg:before {
	content: "\eae3";
}

.icon-codepen:before {
	content: "\eae4";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}

.icon-IcoMoon:before {
	content: "\eaea";
}

